<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<table border="1">
    <tr>
        <td>DATE</td>
        <td>EVENT NAME</td>
        <td>EPAY EVENT COUNT</td>
        <td>ENS EVENT COUNT</td>
        <td>ENS SUCCESS %</td>
        <td>ENS FAILURE %</td>
        <td>VADER SUCCESS COUNT</td>
        <td>VADER FAILURE COUNT</td>
        <td>VADER SUCCESS %</td>
        <td>VADER FAILURE %</td>
    </tr>
    <#list dummyData as data>
        <tr>
            <td>${data.DATE}</td>
            <td>${data.EVENT_NAME}</td>
            <td>${data.ENS_EVENT_COUNT}</td>
            <td>${data.DATE}</td>
            <td>${data.DATE}</td>
            <td>${data.DATE}</td>
            <td>${data.DATE}</td>
            <td>${data.DATE}</td>
            <td>${data.DATE}</td>
            <td>${data.DATE}</td>

        </tr>
    </#list>
</table>
</body>
</html>